@charset "UTF-8";
/******************************************************************
*
* 　2014.06.26- by oga.
*
******************************************************************/


/**************************************

　基本設定

**************************************/
* {
	margin: 0px;
	padding: 0px;
}
a:link {
	color: #E94D97;
	text-decoration: none;
}
a:visited {
	color: #E94D97;
	text-decoration: none;
}
a:active {
	color: #F00;
	text-decoration: none;
}
a:hover {
	color: #F00;
	text-decoration: none;
}
a:hover img {
	opacity: 0.75;
}
.clear {
	clear: both;
	height: 0px;
	display: block;
	line-height: 0;
	visibility: hidden;
	content: ".";
}
a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
body {
	background-color: #FFF;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	line-height: 150%;
	font-weight: normal;
	color: #333;
	
	-webkit-text-size-adjust: none;  /*webkit用文字サイズ固定*/
	
	/*読み込み初期時は非表示。初期レイアウト乱れ対策*/	
	opacity: 0;
}

.small {
	font-size: 80%;
}
strong {
	font-weight: bold;
	font-size: 120%;
}

.type1 .pc {
	display: block;
}
.type1 .smp {
	display: none;
}
.type3 .pc {
	display: none;
}
.type3 .smp {
	display: block;
}


/*flexsliderちらつき対策*/
#content {
	-webkit-transform: translate3d(0px, 0px, 0px); 	
}


/**************************************

　基本レイアウト

**************************************/
.type1 #container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}
.type3 #container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/***************ヘッダー**************/
#header {
	position: relative;		
}
.type1 #header {
	background-image: url(../images/common/header_bg.png);
}
.type3 #header {
	
	background-color: #FFF;
}
.type1 #header #logo {
	height: 60px;	
	width: 980px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.type3 #header #logo {
	height: 44px;	
}

/***************コンテンツ***************/
.type1 #content {
	
}
.type3 #content {
	margin-bottom: 40px;
}

/***************フッター***************/
#footer {
	position: relative;		
}
.type1 #footer {
	margin-top: 20px;	
	bottom: 10px;	
}
.type1 #footer #copyright {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 8px;
	color: #E9546B;
}


.type3 #footer {
	padding-top: 10px;
	background-image: url(../images/common/line02.png);
	background-color: #FFF;
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-repeat: repeat-x;
}
.type3 #footer #banner {
	text-align: center;
	background-color: #FFF;
}
.type3 #footer #banner #banner01 {
	margin-right: 20px;
}
.type3 #footer #banner #banner02 {
	margin-right: 20px;
}
.type3 #footer #copyright {
	text-align: center;
	font-size: 8px;
	background-color: #E94D97;
	color: #FFF;
	height: 30px;
	line-height: 30px;
}

/***************グローバルナビ（pc）***************/
.type1 #gnavi {
	margin-top: 10px;
	margin-bottom: 10px;
}
.type1 #gnavi ul li {
	list-style-type: none;
}
.type1 #gnavi:after{
  /*クリアフィックス*/
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;  
    clear: both; 
    visibility:hidden;
}
.type1 #gnavi ul li a {
	display: block;
	width: 140px;
	height: 70px;
	float: left;
	text-indent: -9999px;
}
.type1 #gnavi ul li#gnavi01 a {
	background-image: url(../images/common/gnavi/gnavi01.png);	
}
.type1 #gnavi ul li#gnavi02 a {
	background-image: url(../images/common/gnavi/gnavi02.png);	
}
.type1 #gnavi ul li#gnavi03 a {
	background-image: url(../images/common/gnavi/gnavi03.png);	
}
.type1 #gnavi ul li#gnavi04 a {
	background-image: url(../images/common/gnavi/gnavi04.png);	
}
.type1 #gnavi ul li#gnavi05 a {
	background-image: url(../images/common/gnavi/gnavi05.png);	
}
.type1 #gnavi ul li#gnavi06 a {
	background-image: url(../images/common/gnavi/gnavi06.png);	
}
.type1 #gnavi ul li#gnavi07 a {
	background-image: url(../images/common/gnavi/gnavi07.png);	
}

.type1 #gnavi ul li#gnavi01 a:hover,
.type1 #gnavi ul li#gnavi01.select a,
.type1 #gnavi ul li#gnavi01.active a {
	background-image: url(../images/common/gnavi_sel/gnavi01.gif);	
}
.type1 #gnavi ul li#gnavi02 a:hover,
.type1 #gnavi ul li#gnavi02.select a,
.type1 #gnavi ul li#gnavi02.active a  {
	background-image: url(../images/common/gnavi_sel/gnavi02.gif);	
}
.type1 #gnavi ul li#gnavi03 a:hover,
.type1 #gnavi ul li#gnavi03.select a,
.type1 #gnavi ul li#gnavi03.active a {
	background-image: url(../images/common/gnavi_sel/gnavi03.gif);	
}
.type1 #gnavi ul li#gnavi04 a:hover,
.type1 #gnavi ul li#gnavi04.select a,
.type1 #gnavi ul li#gnavi04.active a {
	background-image: url(../images/common/gnavi_sel/gnavi04.gif);	
}
.type1 #gnavi ul li#gnavi05 a:hover,
.type1 #gnavi ul li#gnavi05.select a,
.type1 #gnavi ul li#gnavi05.active a {
	background-image: url(../images/common/gnavi_sel/gnavi05.gif);	
}
.type1 #gnavi ul li#gnavi06 a:hover,
.type1 #gnavi ul li#gnavi06.select a,
.type1 #gnavi ul li#gnavi06.active a {
	background-image: url(../images/common/gnavi_sel/gnavi06.gif);	
}
.type1 #gnavi ul li#gnavi07 a:hover,
.type1 #gnavi ul li#gnavi07.select a,
.type1 #gnavi ul li#gnavi07.active a {
	background-image: url(../images/common/gnavi_sel/gnavi07.gif);	
}
/***************グローバルナビ（smp）***************/
.type3 #gnavi ul {
	width: 100%;
	font-size: 16px;
	display: none;
	z-index: 100;
	border-top: 1px solid #FFF;
	background-color: #FFF;
}
.type3 #gnavi ul li a {
	display: block;
	width: 100%;
	height: 44px;
	border-bottom: 1px solid #FFF;
	color: #FDFDFD;
	line-height: 44px;
	text-indent: 50px;
	background-size: 22px 22px;
	background-repeat: no-repeat;
	background-position: 10px 10px;
}
.type3 #gnavi ul li a:hover {
	opacity: 0.7;
}
.type3 #gnavi ul li#gnavi00 a {
	background-color: #BBB;
	background-image: url(../images/common/icon/icon01.png);
}
.type3 #gnavi ul li#gnavi01 a {
	background-color: #F27A8C;
	background-image: url(../images/common/icon/icon02.png);
}
.type3 #gnavi ul li#gnavi02 a {
	background-color: #007BC9;
	background-image: url(../images/common/icon/icon02.png);
}
.type3 #gnavi ul li#gnavi03 a {
	background-color: #EB4997;
	background-image: url(../images/common/icon/icon02.png);
}
.type3 #gnavi ul li#gnavi04 a {
	background-color: #00ADF1;
	background-image: url(../images/common/icon/icon02.png);
}
.type3 #gnavi ul li#gnavi05 a {
	background-color: #A74299;
	background-image: url(../images/common/icon/icon02.png);
}
.type3 #gnavi ul li#gnavi06 a {
	background-color: #00ADAB;
	background-image: url(../images/common/icon/icon02.png);
}
.type3 #gnavi ul li#gnavi07 a {
	background-color: #F9AF00;
	background-image: url(../images/common/icon/icon02.png);
}
#menu_sw {
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
}


/**************円形のナビ（pcのみ、smpは非表示）***************/

.type1 #mnavi_container {
	position: relative;		
	margin-top: -10px;
}


.type1 #mnavi {
	position: relative;
	top: 0px;
	left: 0px;
}
.type1 #mnavi ul li {
	list-style-type: none;
}
.type1 #mnavi:after{
  /*クリアフィックス*/
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;  
    clear: both; 
    visibility:hidden;
}
.type1 #mnavi ul li {
	display: block;
	width: 163px;
	height: 164px;
	float: left;
	text-indent: -9999px;
}
.type1 #mnavi ul li#mnavi02 {
	background-image: url(../images/common/mnavi/mnavi02.png);	
}
.type1 #mnavi ul li#mnavi03 {
	background-image: url(../images/common/mnavi/mnavi03.png);	
}
.type1 #mnavi ul li#mnavi04 {
	background-image: url(../images/common/mnavi/mnavi04.png);	
}
.type1 #mnavi ul li#mnavi05 {
	background-image: url(../images/common/mnavi/mnavi05.png);	
}
.type1 #mnavi ul li#mnavi06 {
	background-image: url(../images/common/mnavi/mnavi06.png);	
}
.type1 #mnavi ul li#mnavi07 {
	background-image: url(../images/common/mnavi/mnavi07.png);	
}


/****** 円形ナビの背景（アニメ部分）******/
.type1 #mnavi_bg {
	position: absolute;
	top: 0px;
	left: 0px;
}
.type1 #mnavi_bg ul li {
	list-style-type: none;
}
.type1 #mnavi_bg:after{
  /*クリアフィックス*/
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;  
    clear: both; 
    visibility:hidden;
}
.type1 #mnavi_bg ul li {
	display: block;
	width: 163px;
	height: 164px;
	float: left;
	text-indent: -9999px;
}
.type1 #mnavi_bg ul li#mnavi_bg02 {
	background-image: url(../images/common/mnavi/mnavi_bg02.png);
}
.type1 #mnavi_bg ul li#mnavi_bg03 {
	background-image: url(../images/common/mnavi/mnavi_bg03.png);	
}
.type1 #mnavi_bg ul li#mnavi_bg04 {
	background-image: url(../images/common/mnavi/mnavi_bg04.png);	
}
.type1 #mnavi_bg ul li#mnavi_bg05 {
	background-image: url(../images/common/mnavi/mnavi_bg05.png);	
}
.type1 #mnavi_bg ul li#mnavi_bg06 {
	background-image: url(../images/common/mnavi/mnavi_bg06.png);	
}
.type1 #mnavi_bg ul li#mnavi_bg07 {
	background-image: url(../images/common/mnavi/mnavi_bg07.png);	
}



/****** 円形ナビのオーバー装飾（花や蝶など）******/
.type1 #mnavi_hover {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 980px;
	height: 164px;
	
	/*pointer-events: none;*/
}
.type1 #mnavi_hover:after{
  /*クリアフィックス*/
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;  
    clear: both; 
    visibility:hidden;
}

.type1 #mnavi_hover ul li {
	list-style-type: none;
	text-indent: -9999px;
	width: 163px;
	height: 164px;
	float: left;
}
.type1 #mnavi_hover ul li a {
	position: relative;
	display: block;
}

.type1 #mnavi_hover ul li#mnavi_ho02 .icon1 {
	position: absolute;
	width: 170px;
	height: 170px;
	top: 0px;
	left: 0px;
	background-image: url(../images/common/mnavi/icon_flower02.png);
}
.type1 #mnavi_hover ul li#mnavi_ho02 .icon2 {
	position: absolute;
	width: 170px;
	height: 170px;
	top: 0px;
	left: 0px;
	background-image: url(../images/common/mnavi/icon_butterfly02.png);
}

.type1 #mnavi_hover ul li#mnavi_ho03 .icon1 {
	position: absolute;
	width: 170px;
	height: 170px;
	top: 0px;
	left: 0px;
	background-image: url(../images/common/mnavi/icon_flower03.png);
}
.type1 #mnavi_hover ul li#mnavi_ho03 .icon2 {
	position: absolute;
	width: 170px;
	height: 170px;
	top: 0px;
	left: 0px;
	background-image: url(../images/common/mnavi/icon_butterfly03.png);
}

.type1 #mnavi_hover ul li#mnavi_ho04 .icon1 {
	position: absolute;
	width: 170px;
	height: 170px;
	top: 0px;
	left: 0px;
	background-image: url(../images/common/mnavi/icon_flower04.png);
}
.type1 #mnavi_hover ul li#mnavi_ho04 .icon2 {
	position: absolute;
	width: 170px;
	height: 170px;
	top: 0px;
	left: 0px;
	background-image: url(../images/common/mnavi/icon_butterfly04.png);
}

.type1 #mnavi_hover ul li#mnavi_ho05 .icon1 {
	position: absolute;
	width: 170px;
	height: 170px;
	top: 0px;
	left: 0px;
	background-image: url(../images/common/mnavi/icon_flower05.png);
}
.type1 #mnavi_hover ul li#mnavi_ho05 .icon2 {
	position: absolute;
	width: 170px;
	height: 170px;
	top: 0px;
	left: 0px;
	background-image: url(../images/common/mnavi/icon_butterfly05.png);
}

.type1 #mnavi_hover ul li#mnavi_ho06 .icon1 {
	position: absolute;
	width: 170px;
	height: 170px;
	top: 0px;
	left: 0px;
	background-image: url(../images/common/mnavi/icon_flower06.png);
}
.type1 #mnavi_hover ul li#mnavi_ho06 .icon2 {
	position: absolute;
	width: 170px;
	height: 170px;
	top: 0px;
	left: 0px;
	background-image: url(../images/common/mnavi/icon_butterfly06.png);
}

.type1 #mnavi_hover ul li#mnavi_ho07 .icon1 {
	position: absolute;
	width: 170px;
	height: 170px;
	top: 0px;
	left: 0px;
	background-image: url(../images/common/mnavi/icon_flower07.png);
}
.type1 #mnavi_hover ul li#mnavi_ho07 .icon2 {
	position: absolute;
	width: 170px;
	height: 170px;
	top: 0px;
	left: 0px;
	background-image: url(../images/common/mnavi/icon_butterfly07.png);
}


/**************************************

　トップページ id="toppage"

**************************************/
/*スライドショー*/

#topimage {
	position: relative;
	overflow: hidden;
}
.type1 #topimage {
	
}
.type3 #topimage {
	width: 100%;
	position: relative;	
}

.flexslider {
	border-style: none;
}

.type1 .flexslider {
	width: 980px;
	height: 400px;
}

#topimage_frame01 {
	position: absolute;
	top: 0px;
}
.type3 #topimage_frame01 img {
	height: 20px;
}
#topimage_frame02 {
	position: absolute;
	bottom: 20px;
}
.type3 #topimage_frame02 img {
	height: 20px;
}
#topimage_corner img {
	position: absolute;
	width: 15px;
	height: 15px;
	z-index: 1000;
}
#topimage_corner img.img_corner_LT {
	top: 0;
	left: 0;
}
#topimage_corner img.img_corner_RT {
	top: 0;
	right: 0;
}
#topimage_corner img.img_corner_RB {
	bottom: 20px;
	right: 0;
}
#topimage_corner img.img_corner_LB {
	bottom: 20px;
	left: 0;
}

/*トピックス*/
.type1#toppage #topics {
	padding-left: 0px;
	background-repeat: no-repeat;
	background-position: left center;
}
.type3#toppage #top_topics {
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	background-image: url(../images/common/line02.png);
	background-repeat: repeat-x;
	background-position: 0px 30px;
}
#toppage #topics li {
	background-repeat: no-repeat;
	padding-left: 40px;
	list-style-type: none;
	line-height: 200%;
}
#toppage #topics li.list0 {
	background-image: url(../images/common/icon/new01.png);
}
#toppage #topics li.list1 {
	background-image: url(../images/common/icon/new02.png);
}
#toppage #topics li.list2 {
	background-image: url(../images/common/icon/new03.png);
}


/**************************************

　第二階層 id="secondpage"

**************************************/
.type3#secondpage #main {
	margin-left: 10px;
	margin-right: 10px;	
}

/*resposive for type3*/
.type3 #subtext {
	width: 100%;
}
.type3 h2 {
	width: 94%;
	margin: 0 3%;
}
.type3 h3 {
	width: 90%;
	margin: 5px 5% 10px;
	line-height: 1.8em;
}
.type3 .image1, .type3 .image2 {
	width: 100%;
	float: none;
}
.type3 img {
	max-width: 100% !important;
}
.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/* End hide from IE-mac */