@charset "UTF-8";

#subtext {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 30px;
	line-height: 200%;
	text-align: justify;
	background-image: url(../faculty/images/bk_color.png);
}
h1 {
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 6px;
	line-height: 200%;
	color: #444444;
	text-align: left;
}
h2 {
	width: 650px;
	font-size: 12px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 96px;
	color: #444444;
	text-align: justify;
}
h3 {
	font-size: 18px;
	font-weight: normal;
	height: 70px;
	color: #FFFFFF;
	background-color: #f5b2b2;
	text-align: left;
	margin-top: -30px;
}
h4 {
	font-size: 18px;
	font-weight: normal;
	height: 70px;
	color: #FFFFFF;
	background-color: #f5b090;
	text-align: left;
	margin-top: -36px;
}
h5 {
	font-size: 18px;
	font-weight: normal;
	height: 70px;
	color: #FFFFFF;
	background-color: #e9546b;
	text-align: left;
	margin-top: -30px;
}
h2.type1 {
	width: 660px;
	font-size: 11px;
	font-weight: normal;
	margin-top: 0px;
	color: #444444;
	text-align: justify;
	margin-left : auto ; 
	margin-right : auto ;
}
div.image1 {
	float: left;
	margin-left: 0px;
	margin-right: 0px;
	width: 980px;
	font-size: 11px;
	color: #444;
	line-height: 22px;
	text-align: center;
}
div.image2 {
	float: left;
	margin-left: 0px;
	margin-right: 0px;
	width: 490px;
	font-size: 11px;
	color: #444;
	line-height: 22px;
	text-align: center;
}
div.image3 {
	float: left;
	margin-left: 20px;
	margin-bottom: 0px;
	margin-top: -290px;
	width: 290px;
	font-size: 11px;
	color: #999;
	line-height: 17px;
}

div.title1 {
	float: left;
	margin-left: -15px;
	margin-bottom: 0px;	
	width: 150px;
	font-size: 11px;
	color: #999;
	line-height: 17px;
}
div.line {
	margin-right: auto;
	margin-left: auto;
}
.acad_detail {
	position: relative;
	min-height: 370px;
}
.acad_detail.detail_01 {
	background-color: #eb5269;
}
.acad_detail.detail_02 {
	background-color: #f8ae2b;
}
.acad_detail.detail_03 {
	background-color: #ea4e98;
}
.acad_detail.detail_04 {
	background-color: #00aeef;
}
.acad_detail.detail_05 {
	background-color: #00adaa;
}
.acad_list {
	margin-left: 80px;
}
.acad_list.acad_02, .acad_list.acad_04 {
	margin-left: 76px;
}
.type3 .acad_list {
	margin-left: 0;
}
.acad_list li {
	line-height: 24px;
	font-size: 12px;
	margin-bottom: 6px;
}
.type3 .acad_list li {
	width: 97%;
	margin: 0 auto 6px;
}
.acad_list li.rowspan02 {
	margin-bottom: 0;
}
.acad_list .acad_month {
	float: left;
	background: #c4475a;
	color: #fff;
	width: 35px;
	height: 24px;
	padding-right: 11px;
	text-align: right;
}
.rowspan02 .acad_month {
	height: 30px;
}
.rowspan03 .acad_month {
	height: 53px;
	line-height: 26px;
}
.acad_02 .acad_month {
	background: #ed9000;
}
.acad_03 .acad_month {
	background: #c4475a;
}
.acad_04 .acad_month {
	background: #187fc4;
}
.acad_05 .acad_month {
	background: #00ada9;
}
.acad_list a.btn_acad {
	float: left;
	display: block;
	background: #fff;
	width: 329px;
	text-align: left;
	padding-left: 6px;
	position: relative;
	max-width: 97%;
}
.type3 .acad_list a.btn_acad {
	float: none;
	width: auto;
}
.acad_list a.btn_acad:after {
	content: " ";
	height: 24px;
	width: 9px;
	background: url(../academics/images/btn_arrow01.png) no-repeat;
	position: absolute;
	right: -9px;
}
.type3 .acad_list a.btn_acad:after {
	display: none;
}
.rowspan03 a.btn_acad {
	height: 53px;
	line-height: 53px;
}
.rowspan03 a.btn_acad:after {
	height: 53px;
	background: url(../academics/images/btn_arrow03.png) no-repeat;
}
.acad_01 a.btn_acad {
	color: #eb5269;
}
.acad_02 a.btn_acad {
	color: #f6ad3c;
}
.acad_03 a.btn_acad {
	color: #e9546b;
}
.acad_04 a.btn_acad {
	color: #106faf;
}
.acad_05 a.btn_acad {
	color: #00ada9;
}
