@charset "UTF-8";

#subtext {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 30px;
	line-height: 200%;
	text-align: justify;
}
h1 {
	width: 800px;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #444444;
	text-align: middle;
	margin-left: 0px;
}
h2 {
	width: 800px;
	float: right;
	font-size: 12px;
	font-weight: normal;
	color: #444444;
	text-align: right;
	margin-right: 0px;
}
div.image1 {
	float: left;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 32px;
	margin-bottom: 32px;	
	width: 800px;
	font-size: 11px;
	color: #444;
	line-height: 22px;
	text-align: center;
}
div.line {
	margin-right: auto;
	margin-left: auto;
}

/*resposive for type3*/
.type3 #subtext {
	width: 96%;
	padding: 0 2%;
}
.type3 #h1{
	width: 96%;
	padding: 0 2%;
}
.type3 .image1 {
	margin: 10px auto;
}